.item-card {
    width: 19em;
    text-decoration: none;
    color: var(--bs-dark);
}

.item-card img {
    height: 355px;
    border: none;
}

.card-body {
    height: auto;
}

.card {
    border: none;
}

.card-title {
    height: 70px;
}

.btn-bottom {
    position: absolute;
    bottom: 0.5em;
}
