.item-card {
    width: 18rem;
}

.item-card img {
    height: 300px;
}

.card-body {
    height: 180px;
}

.card {
    border: none;
}

.card-title {
    height: 70px;
}

.btn-bottom {
    position: absolute;
    bottom: 0.5em;
}
