:root {
    --bs-font-sans-serif: 'Montserrat', 'Heebo', sans-serif;
    --bs-warning: #feff00;
}

.bg-warning{
    background-color: var(--bs-warning) !important;
}

.price {
    letter-spacing: 0.1em;
}
